*
!.aliases
!.zshrc
!.gitignore
!.vimrc
!.local/
!.local/bin/
!.local/bin/*
!.config
!.config/autostart/
!.config/autostart/*
!.config/lazygit/
!.config/lazygit/*
!.config/nvim-qt/
!.config/nvim-qt/*
!.config/nvim/
!.config/nvim/*
!.config/Vencord/
!.config/Vencord/*
!.config/Vencord/**
.config/lazygit/state.yml
.config/Vencord/settings
.config/Vencord/dist
.config/nvim-qt/window-geometry.conf
